[Desktop Entry]
Name=Peach Window Switcher
Name[tr]=Şeftali Pencere Değiştiricisi
Comment=It is a kwin script that controlles all opened windows from a wide panel
Comment[tr]=Açılan pencereleri geniş bir panelden kontrol eden bir kwin servisi

Icon=/usr/share/eta/eta-peach/peach.svg

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Yunusemre Senturk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-Name=peachwindowswitcher
X-KDE-PluginInfo-Version=1.1

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service