Source: eta-peach
Section: utils
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6
Homepage: http://pardus.org.tr

Package: eta-peach
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, kde-window-manager
Description: ETAP Şeftali Kwin Servisi
 Çalışan uygulamaları ve  açık pencerleri hızlı kontrol etmeye yarayan 
 bir betik.
